html{
  background: #d0defd;
}

#alignCenter{
  width: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 20px;
  /* resize: both; */
  overflow: auto;
  text-align: center;
}

h1{
  font-family: 'Exo', sans-serif;
  font-size: 5em;
  color: #557fdf;
  margin: 0;
}

p{
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 2em;
  margin: 0;
  padding-bottom: 50px;
}

input{
  margin-top: 5px;
  margin-bottom: 40px;
  padding: 10px;
  border-radius: 3px;
}

#winningScoreDisplay{
  font-size: 1.25em;
}

button{
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  text-align: center;
  text-decoration: none;
  background-color: #799def;
  color: white;
  border: none;
  padding: 15px 20px;
  margin: 3px;
  border-radius: 4px;
}
button:hover{
  cursor: pointer;
}

.winner{
  color: #4ef14e;
  padding: 0;
}